:root {
  --clr-bg: #c5e4e7;
  --clr-white: #fff;
  --clr-dark-cyan: #00474b;
  --clr-very-dark-cyan: #9ee8df;
  --clr-strong-cyan: #26c2ae;
  --clr-light-gray: #f3f9fa;
  --clr-grey-400: #7f9d9f;
  --clr-error: #e17052;
  --clr-green-800: #085c61;
  --clr-green-750: #0d686d;
}
